<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand">Assesment 2</a>
      <ul class="nav navbar-nav flex-row" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link mr-3" routerLink="home" routerLinkActive="active">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="news" routerLinkActive="active">News</a></li>
      </ul>
  </div>
</nav>


<div class="container mt-5">
<router-outlet></router-outlet>
</div>
